<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <div>
        <hr />
        <div>쿠키형 로그인</div>
        <div><a href="/cologin/signup">회원가입</a></div>
        <div><a href="/cologin/login">로그인</a></div>

        <div><a href="/user/infoCookie">user/ 회원 정보보기</a></div>
        <div><a href="/admin/infoCookie">admin/ 관리자 정보보기</a></div>

        <hr />
        <div>세션형 로그인</div>
        <div><a href="/selogin/signup">회원가입</a></div>
        <div><a href="/selogin/login">로그인</a></div>
        <br />
        <div><a href="/admin/infoSession">admin/ 관리자 정보보기</a></div>
        <div><a href="/catweb/category_list?page=1&searchName=">관리자, CRUD 각각 화면이 있는 category html(화면 주소가 다 다름)</a></div>
        <br />
        <div><a href="/user/infoSession">user/ 회원 정보보기</a></div>
        <div><a href="/catajx/category_ajx_list">(모든사람은 화면은 보이나 데이터 조회는 회원만 가능), CRUD 화면이 한 개인 category html(화면 주소가 하나임)</a></div>
        <hr />
        <div><a href="/signout">로그아웃</a></div>
    </div>
</body>
</html>