<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Category Ajax CRUD</title>
    <link rel="stylesheet" href="/mazer/assets/compiled/css/app.css">
    <link rel="stylesheet" href="/mazer/assets/compiled/css/app-dark.css">
    <link rel="stylesheet" href="/mazer/assets/compiled/css/iconly.css">
    <script language="JavaScript" src="/js/jquery-3.7.1.min.js"></script>
    <style>
        .itemRow {
            width: fit-content;
        }
    </style>
    <script>
        let page = 0;
        let total = 0;
        let sortColumn = "id";
        let sortAscDesc = "DESC";
        //$(document).ready(function(){
        //    // Jquery 는 html 문서가 로딩이 완료 되면 이 부분을 실행한다.
        //});
        $(function(){
            // jQuery 3.0 버전부터 실행할 기능을 정의해주세요.
            // HTML 문서 로딩이 완료되면 자동적으로 실행되는 jQuery 부분
            $.searchCategoryList(1);

            $("#updateButton").click(function() {
                $.update();
            })

            $("#deleteButton").click(function() {
                $.delete();
            })

            $("#searchName").on("keyup",function(key) {
                if( key.keyCode === 13 ) {
                    $.searchCategoryList(1);
                }
            });
        });
        $.idAsc = function() {
            sortColumn = "id";
            sortAscDesc = "ASC";
            $.searchCategoryList(page);
        }

        $.idDesc = () => {
            sortColumn = "id";
            sortAscDesc = "DESC";
            $.searchCategoryList(page);
        }

        $.nameAsc = function() {
            sortColumn = "name";
            sortAscDesc = "ASC";
            $.searchCategoryList(page);
        }

        $.nameDesc = () => {
            sortColumn = "name";
            sortAscDesc = "DESC";
            $.searchCategoryList(page);
        }

        $.searchCategoryList = function(pPage) {
            page = pPage;
            $("#id").val("");
            $("#name").val("");
            let searchName = $("#searchName").val();
            $.ajax({
                url: "/cat/searchName",
                type: "POST",
                datatype: "JSON",
                data: JSON.stringify({"page": page, "searchName":searchName, "sortColumn": sortColumn, "sortAscDsc": sortAscDesc}),
                contentType: "application/json; charset=UTF-8",
            }).done(function(data, status, xhr){
                console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
                if (status === "success") {
                    $("#total").html(data.total);
                    $.showCategoryList(data.dataList);
                    $.makePageUI(data.total, page, searchName);
                }
            }).fail(function(jqXHR, status, errorThrown) {
                console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
                alert("검색을 실패했습니다.");
            })
        }

        $.showCategoryList = function(categoryList) {
            if (categoryList == null) {
                return;
            }
            const list = $("#categoryList");
            list.children().remove();
            for( let i = 0; i < categoryList.length; i++ ) {
                let id = categoryList[i].id;
                let name = categoryList[i].name;
                let strLi = "<li><div onClick='$.viewCategory(" + id + ");' class='itemRow'><span>"
                    + id + "</span><span> : </span><span>"
                    + name + "</span></div></li>";
                list.append(strLi);
            }
        }

        $.viewCategory = function(id) {
            if ( id <= 0 ) {
                return;
            }
            $.ajax({
                url: "/cat/" + id,
                type: "GET",
                datatype: "JSON",
            }).done(function(data, status, xhr){
                console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
                if (status === "success") {
                    $.showCategoryInfo(data);
                }
            }).fail(function(jqXHR, status, errorThrown) {
                console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
                alert("보기 실패했습니다.");
            })
        }

        $.showCategoryInfo = function(item) {
            if (item == null) {
                return;
            }
            $("#id").val(item.id);
            $("#name").val(item.name);
        }

        $.makePageUI = function(paramTotal, paramPage, searchName) {
            let totPage = ~~((paramTotal + 9) / 10);
            let startPage = getStartPage(paramPage);
            let endPage = getEndPage(startPage, paramTotal);
            let prev = (paramPage-1) < 1 ? 1 : paramPage-1;
            let next = (paramPage+1) >= totPage ? totPage : paramPage+1;
            let sClass = "btn btn-success rounded-pill";

            $("#pageDiv").children().remove();
            $("#pageDiv").append(" <a class='" + sClass + "' onclick='$.searchCategoryList("
                + prev + ");'>Prev</a> ");
            for (let i = startPage; i <= endPage; i++) {
                if (paramPage == i) {
                    sClass = "btn btn-primary rounded-pill";
                }
                $("#pageDiv").append(" <a class='" + sClass + "' onclick='$.searchCategoryList("
                    + i + ");'>" + i + "</a> ");
                sClass = "btn btn-success rounded-pill";
            }
            $("#pageDiv").append(" <a class='" + sClass + "' onclick='$.searchCategoryList("
                + next + ");'>Next</a> ");
        }

        function getStartPage(page) {
            // 1~10 => 1, 11~20 => 11, 21~30 => 21
            // let startPage = ((page - 1) / 10) * 10 + 1;
            let one = 1;
            let ten = ~~((page - 1) / 10) * 10;
            let startPage = ten + one;
            return ~~(startPage);
        }

        function getEndPage(startPage, paramTotal) {
            let totPage = ~~((paramTotal + 9) / 10);
            let tPage = startPage + 9;
            if ( tPage < totPage ) {
                return ~~(tPage);
            }
            return ~~(totPage);
        }
        $.addInsert = function() {
            let name = $("#name").val();
            if ( !confirm(name + " 추가 하시겠습니까 ?") ) {
                return;
            }
            $.ajax({
                url: "/cat",
                type: "POST",
                datatype: "JSON",
                data: JSON.stringify({"name": name}),
                contentType: "application/json; charset=UTF-8",
            }).done(function(data, status, xhr){
                console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
                // insert 완료시
                $("#searchName").val("");
                $.searchCategoryList(1);
                $("#id").val("");
                $("#name").val("");
            }).fail(function(jqXHR, status, errorThrown) {
                console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
                alert("추가를 실패했습니다.");
            })
        }

        $.update = function() {
            let id = $("#id").val();
            let name = $("#name").val();
            if ( !confirm(name + " 수정 하시겠습니까 ?") ) {
                return;
            }
            $.ajax({
                url: "/cat/" + id,
                type: "PATCH",
                datatype: "JSON",
                data: JSON.stringify({"id": id, "name": name}),
                contentType: "application/json; charset=UTF-8",
            }).done(function(data, status, xhr){
                console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
                // update 성공 완료시
                $.searchCategoryList(page);
                $("#id").val("");
                $("#name").val("");
            }).fail(function(jqXHR, status, errorThrown) {
                console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
                alert("수정를 실패했습니다.");
            })
        }

        $.delete = function() {
            let id = $("#id").val();
            let name = $("#name").val();
            if ( !confirm(name + " 삭제 하시겠습니까 ?") ) {
                return;
            }
            $.ajax({
                url: "/cat/" + id,
                type: "DELETE",
                datatype: "JSON",
                contentType: "application/json; charset=UTF-8",
            }).done(function(data, status, xhr){
                console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
                // delete 성공 완료시
                $.doneDelete();
            }).fail(function(jqXHR, status, errorThrown) {
                console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
                alert("삭제를 실패했습니다.");
            })
        }
        $.doneDelete = function() {
            let searchName = $("#searchName").val();
            $.ajax({
                url: "/cat/countName",
                type: "POST",
                datatype: "JSON",
                data: JSON.stringify({"searchName": searchName}),
                contentType: "application/json; charset=UTF-8",
            }).done(function(data, status, xhr){
                console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
                total = data;
                let totPage = ~~((total + 9) / 10);
                if ( totPage < page ) {
                    page = totPage;
                }
                // alert("delete : total=" + total + ", page=" + page);
                // 삭제 후에 검색식과 total 로 계산해서 page-1 결정해야 한다.
                $.searchCategoryList(page);
                $("#id").val("");
                $("#name").val("");
            }).fail(function(jqXHR, status, errorThrown) {
                console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
            })
        }
    </script>
</head>
<body>
<div>
    <label for="searchName">검색이름</label><input type="text" id="searchName" name="searchName" value=""/>
    <input type="hidden" id="page" name="page" value="" />
    <button onclick="$.searchCategoryList(1);">검색</button>
</div>
<div>
    Category Ajax List
</div>
<ul>
    <li>
        <span>id
            <button onclick="$.idAsc();">△</button>
            <button onclick="$.idDesc();">▽</button>
        </span>
        <span> : </span>
        <span>name
            <button onclick="$.nameAsc();">△</button>
            <button onclick="$.nameDesc();">▽</button>
        </span>
    </li>
</ul>
<ul id="categoryList">
</ul>
<div>total : <span id="total"></span></div>
<fieldset>
    <label for="id">ID</label> <input type="text" id="id" name="id" value="" readonly />
    <label for="name">Name</label> <input type="text" id="name" name="name" value=""/>
</fieldset>
<button id="addButton" onclick="$.addInsert();">추가</button>
<button id="updateButton">수정</button>
<button id="deleteButton">삭제</button>
<div id="pageDiv">
</div>
</body>
</html>