<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studymavernspringboot.mustachajax.boardlike.IBoardLikeMybatisMapper">

    <insert id="insert" parameterType="BoardLikeDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board_like_tbl ( tbl
                                   , likeUserId
                                   , boardId)
        VALUES ( #{tbl}
               , #{likeUserId}
               , #{boardId})
    </insert>

    <delete id="deleteByTableUserBoard" parameterType="BoardLikeDto">
        DELETE FROM board_like_tbl
        WHERE tbl = #{tbl}
          AND likeUserId = #{likeUserId}
          AND boardId = #{boardId}
    </delete>

    <select id="countByTableUserBoard" resultType="Integer" parameterType="BoardLikeDto">
        SELECT count(*)
        FROM board_like_tbl
        WHERE tbl = #{tbl}
          AND likeUserId = #{likeUserId}
          AND boardId = #{boardId}
    </select>
</mapper>