<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script language="JavaScript" src="/js/jquery-3.7.1.min.js"></script>
    <script>
        $.ready(function(){
            $("#signForm").on("submit", function() {
                if ( $("#loginId").val() === "" || $("#password").val() === "" ) {
                    alert("로그인 ID, 암호 를 입력하세요");
                    return false;
                }
                return true;
            });
        });
    </script>
</head>
<body>
<div>
    <form id="signForm" method="post" action="signin">
        <label for="loginId">로그인아이디</label> <input type="text" id="loginId" name="loginId" />
        <label for="password">암호</label> <input type="password" id="password" name="password" />
        <input type="submit" value="로그인" />
    </form>
</div>
</body>
</html>