<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인 한 관리자 ADMIN</title>
</head>
<body>
    <div>관리자만 볼 수 있습니다.</div>
    {{#sb3}}
    <div>
        <div>이름 : {{name}}</div>
        <div>닉네임 : {{nickname}}</div>
        <div>이메일 : {{email}}</div>
        <div>Role : {{role}}</div>
    </div>
    {{/sb3}}
    <button onclick="history.back();">뒤로가기</button>
</body>
</html>
<script>
    function init() {
        let a = '';
        let b = 2;
        let c = 3;
        // javascript 로 어떤 코딩이 되어 있는 부분들
    }

    init();
</script>