<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 추가</title>
    <script>
        function checkPost() {
            let f = document.forms[0];
            if ( f.getElementById("name").value === '' ) {
                alert("제목을 입력 해주세요.");
                f.getElementById("name").focus();
                return false;
            } else if ( f.getElementById("content").value === '' ) {
                alert("내용을 입력 해주세요.");
                f.getElementById("content").focus();
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<div>
    {{#findDto}}
    <form name="boardForm" method="post" action="./update" onsubmit="return checkPost();">
        <input type="hidden" id="id" name="id" value="{{id}}"/>
        <label for="name">제목 : </label>
        <input type="text" id="name" name="name" value="{{name}}"/>
        <label for="content">내용 : </label>
        <textarea id="content" name="content">{{content}}</textarea>
        <div>조회수 : {{viewQty}}</div>
        <div>좋아요 : {{likeQty}}</div>
        <div>글쓴이 : {{createId}}</div>
        <div>글쓴시각 : {{createDt}}</div>
        <input type="submit" value="게시글수정" />
        <div><a href="./delete?id={{id}}">글 삭제</a></div>
    </form>
    {{/findDto}}
    <button onclick="history.back();">뒤로가기</button>
</div>
</body>
</html>