<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studymavernspringboot.mustachajax.commentlike.ICommentLikeMybatisMapper">

    <insert id="insert" parameterType="CommentLikeDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comment_like_tbl ( commentTbl
                              , createId
                              , commentId)
        VALUES ( #{commentTbl}
               , #{createId}
               , #{commentId})
    </insert>

    <delete id="deleteByCommentTableUserBoard" parameterType="CommentLikeDto">
        DELETE FROM comment_like_tbl
        WHERE commentTbl = #{commentTbl}
          AND createId = #{createId}
          AND commentId = #{commentId}
    </delete>

    <select id="countByCommentTableUserBoard" resultType="Integer" parameterType="CommentLikeDto">
        SELECT count(*)
        FROM comment_like_tbl
        WHERE commentTbl = #{commentTbl}
          AND createId = #{createId}
          AND commentId = #{commentId}
    </select>
</mapper>
