<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studymavernspringboot.mustachajax.board.IBoardMybatisMapper">

    <insert id="insert" parameterType="BoardDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board_tbl ( name
                              , content
                              , viewQty
                              , likeQty
                              , createDt
                              , createId
                              , deleteFlag)
        VALUES ( #{name}
               , #{content}
               , 0
               , 0
               , #{createDt}
               , #{createId}
               , false)
    </insert>

    <update id="update" parameterType="BoardDto">
        UPDATE board_tbl
            SET name = #{name}
            , content = #{content}
            , updateDt = #{updateDt}
            , updateId = #{updateId}
        WHERE id = #{id}
    </update>

    <update id="updateDeleteFlag" parameterType="BoardDto">
        UPDATE board_tbl
        SET deleteFlag = #{deleteFlag}
          , deleteDt = #{deleteDt}
          , deleteId = #{deleteId}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM board_tbl
        WHERE id = #{id}
    </delete>

    <select id="findById" resultType="BoardDto">
        SELECT id
            , name
            , content
            , viewQty
            , likeQty
            , createDt
            , createId
            , updateDt
            , updateId
            , deleteDt
            , deleteId
            , deleteFlag
        FROM board_tbl
        WHERE id = #{id}
            AND deleteFlag = false
    </select>

    <update id="addViewQty">
        UPDATE board_tbl
        SET viewQty = viewQty + 1
        WHERE id = #{id}
          AND deleteFlag = false
    </update>

    <update id="addLikeQty">
        UPDATE board_tbl
        SET likeQty = likeQty + 1
        WHERE id = #{id}
          AND deleteFlag = false
    </update>

    <update id="subLikeQty">
        UPDATE board_tbl
        SET likeQty = likeQty - 1
        WHERE id = #{id}
          AND deleteFlag = false
    </update>

    <select id="countAllByNameContains" parameterType="SearchAjaxDto" resultType="Integer">
        SELECT count(*)
        FROM board_tbl
        WHERE name like CONCAT('%',#{searchName},'%')
          AND deleteFlag = false
    </select>

    <select id="findAllByNameContains" parameterType="SearchAjaxDto" resultType="BoardDto">
        SELECT id
             , name
             , content
             , viewQty
             , likeQty
             , createDt
             , createId
             , updateDt
             , updateId
             , deleteDt
             , deleteId
             , deleteFlag
        FROM board_tbl
        WHERE name like CONCAT('%',#{searchName},'%')
          AND deleteFlag = false
        ORDER BY ${orderByWord}
        LIMIT #{rowsOnePage} OFFSET #{firstIndex}
    </select>
</mapper>
