<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studymavernspringboot.mustachajax.board.IBoardMybatisMapper">

    <insert id="insert" parameterType="BoardDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board_tbl ( name
                              , content
                              , view_qty
                              , like_qty
                              , create_dt
                              , create_id
                              , del_flag)
        VALUES ( #{name}
               , #{content}
               , 0
               , 0
               , #{createDt}
               , #{createId}
               , 'N')
    </insert>

    <update id="update" parameterType="BoardDto">
        UPDATE board_tbl
            SET name = #{name}
            , content = #{content}
            , update_dt = #{updateDt}
            , update_id = #{updateId}
        WHERE id = #{id}
    </update>

    <update id="deleteFlag" parameterType="BoardDto">
        UPDATE board_tbl
        SET del_flag = 'Y'
          , delete_dt = #{deleteDt}
          , delete_id = #{deleteId}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM board_tbl
        WHERE id = #{id}
    </delete>

    <select id="findById" resultType="BoardDto">
        SELECT id
            , name
            , content
            , view_qty
            , like_qty
            , create_dt
            , create_id
            , update_dt
            , update_id
            , delete_dt
            , delete_id
            , del_flag
        FROM board_tbl
        WHERE id = #{id}
    </select>

    <update id="addViewQty">
        UPDATE board_tbl
        SET view_qty = view_qty + 1
        WHERE id = #{id}
    </update>

    <update id="addLikeQty">
        UPDATE board_tbl
        SET like_qty = like_qty + 1
        WHERE id = #{id}
    </update>

    <select id="countAllByNameContains" parameterType="SearchAjaxDto" resultType="int">
        SELECT count(*)
        FROM board_tbl
        WHERE name like CONCAT('%',#{searchName},'%')
    </select>

    <select id="findAllByNameContains" parameterType="SearchAjaxDto" resultType="BoardDto">
        SELECT id
             , name
             , content
             , view_qty
             , like_qty
             , create_dt
             , create_id
             , update_dt
             , update_id
             , delete_dt
             , delete_id
             , del_flag
        FROM board_tbl
        WHERE name like CONCAT('%',#{searchName},'%')
        ORDER BY ${orderByWord}
        LIMIT #{rowsOnePage} OFFSET #{firstIndex}
    </select>
</mapper>
